* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mycanvas{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.game {
    position: relative;
}

#gameName{
    position: absolute;              
    left: 30%;                     
    padding-top: 15px;
    font-weight: bold;
    font-size: 30px;
    font-family: fantasy, papyrus;
    /* font-family: cursive, Brush Script MT; */
    font-style: italic;
    user-select: none;
    color:rgb(27, 107, 199);
}

#timer{
    position: absolute;
    /* width: 100px;
    height: 30px;
    background-color: rgb(85, 32, 32);
    border-radius: 10px;
    border: 2px solid #ccc; */
    padding-left: 10px;
    padding-top: 5px;
    user-select: none;
    color:rgb(216, 200, 240);
    font-size: 30px;
}

#links{
    position: absolute;
    user-select: none;
    padding-left: 840px;
    padding-top: 50px;
    margin-bottom: 5px;
}

#links div{
    padding-top: 10px;
}