
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mycanvas{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.game {
    position: relative;
}

#timer{
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: rgb(85, 32, 32);
    border-radius: 10px;
    border: 2px solid #ccc;
    padding-left: 10px;
    padding-top: 5px;
}