.game{
    background-image: url('/images/milkyway.jpeg'); 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mycanvas{
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.game {
    position: relative;
}

#gameName{
    position: absolute;              
    left: 30%;                     
    padding-top: 15px;
    font-weight: bold;
    font-size: 30px;
    font-family: fantasy, papyrus;
    /* font-family: cursive, Brush Script MT; */
    font-style: italic;
    user-select: none;
    color:rgb(27, 107, 199);
}

#timer{
    position: absolute;
    padding-left: 10px;
    padding-top: 5px;
    user-select: none;
    color:rgb(166, 123, 230);
    font-size: 30px;
    font-family: fantasy, papyrus;
}

#links{
    position: absolute;
    user-select: none;
    padding-left: 840px;
    padding-top: 30px;
    margin-bottom: 5px;
}

#links div{
    padding-top: 15px;
}

#music{
    position: absolute;
    user-select: none;
    padding-left: 10px;
    padding-top: 120px;
    margin-bottom: 5px;
}
#musicbutton{
    width: 40px;
    height: 40px;
    background-color: rgb(171, 129, 233);
    border-radius: 200px;
}
#musicbutton:hover{
    cursor: pointer;
    background-color: rgb(124, 66, 233);
}

#level{
    position: absolute;
    padding-left: 10px;
    padding-top: 50px;
    user-select: none;
    color:rgb(171, 129, 233);
    font-size: 30px;
    font-family: fantasy, papyrus;
}

#instruction{
    position: absolute;
    padding-left: 120px;
    padding-top: 100px;
    user-select: none;
    /* color:rgb(165, 94, 206); */
    color: rgb(235, 210, 70);
    font-family: fantasy, papyrus;
    font-size: 20px;
}

#start{
    display: relative;
    position: absolute;
    top: 350px;
    left: 200px;
    color:rgb(26, 59, 3);
    font-family: fantasy, papyrus;
    padding-top: 20px;
    padding-left: 50px;
    /* width: 500px; */
    /* height: 300px; */
    /* background-color: rgb(113, 65, 175); */
    /* border-radius: 15px; */
    
}#startgame{
    padding-left: 50px;
}
#startButton{
    padding-left: 10px;
    width: 300px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(102, 30, 218);
    font-size: 24px;
}

#welcome{
    padding-bottom: 50px;
    color: rgb(235, 210, 70);
    font-size: 20px;
}

#startButton:hover{
    cursor: pointer;
    background-color: rgb(124, 66, 233);
}

#stop{
    display: none;
    position: absolute;
    top: 350px;
    left: 100px;
    width: 700px;
    height: 260px;
    background-color: rgb(187, 142, 230);
    border-radius: 20px;
    font-family: fantasy, papyrus;
}

/* #stop div{
    justify-content: center;
} */
#restartButton{
    /* margin-top: 10px; */
    /* padding-left: 10px; */
    cursor: pointer;
    width: 310px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(102, 30, 218);
    font-size: 24px;
}
#colision{
    /* padding-top: 20px; */
    /* padding-bottom: 2px; */
    /* padding-left: 20px; */
    color: rgb(19, 24, 14);
    font-size: 20px;
}

#restartButton:hover{
    cursor: pointer;
    background-color: rgb(124, 66, 233);
}

#slogon p{
    padding-top: 18px;
    
}

#image{
    display: flex;
    /* position: absolute; */
    
}
#buttonId {
    padding-top: 10px;
    /* padding-left: 0px; */
}

#animationImg{
    display: none;
}

#win{
    display: none;
    position: absolute;
    top: 350px;
    left: 100px;
    width: 720px;
    height: 290px;
    background-color: rgb(187, 142, 230);
    border-radius: 20px;
    font-family: fantasy, papyrus;
}

#restartButtonText{
    width: 310px;
    height: 40px;
    border-radius: 15px;
    background-color: rgb(102, 30, 218);
    font-size: 24px;
}
#msg{
    padding-top: 50px;
    color: rgb(19, 24, 14);
    font-size: 20px;
}

#restartButtonText:hover{
    cursor: pointer;
    background-color: rgb(124, 66, 233);
}

#wonImage{
    display: flex;
    /* position: absolute; */
    
}
#restartAgain {
    padding-top: 50px;
    /* padding-left: 0px; */
}
